<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>insert.html</title>
</head>
<body>
<div>
    <h1>User Insert Page</h1>

    <table border="1">
        <thead>
        <tr>
            <td>userCode</td>
            <th>userName</th>
        </tr>
        </thead>
        <tbody>
            <th th:text="${vo.userCode}"></th>
            <th th:text="${vo.userName}"></th>
        </tbody>
        <tr><a th:href="@{/list}">리스트</a></tr>
    </table>
</div>
</body>
</html>